<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.nitrico.fontbinder" >

    <application>

        <provider
            android:authorities="${applicationId}.Initializer"
            android:enabled="true"
            android:exported="false"
            android:name=".Initializer" />

    </application>

</manifest>
